html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.hidden {
    display: none;
}

/* main header rules */

header {
    background-color: rgb(255, 0, 0);
    padding: 10px 0px;
}

#main-logo {
    width: 500px;
    display: block;
    margin: 0px auto;
}

#character_nav {
    background-color: #675050;
    background-image: url('../images/ac6_hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.characters {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.characters li {
    height: 220px;
    margin: 25px 25px;
    background-color: black;
    text-align: left;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    box-shadow: 0 155px 0 0 rgb(61, 61, 61) inset;
}

.characters li:hover {
    box-shadow: 0 220px 0 0 rgb(70, 0, 0) inset;
}

.characters li h5 {
    color: white;
    padding: 12px 8px;
}

.characters li a {
    text-decoration: none;
}

/* Sprite Sheet (WIP) */



.sprite {
    width: 150px;
    height: 150px;
    background-image: url('../images/character_spritesheet.png');
}

#g2 {
    background-position: -150px 0;
}

#g3 {
    background-position: -300px 0;
}

#g4 {
    background-position: -450px 0;
}

#g5 {
    background-position: -600px 0;
}

#g6 {
    background-position: -750px 0;
}

#g1:hover, #g2:hover, #g3:hover, #g4:hover, #g5:hover, #g6:hover {
    background-position-y: -150px ;
}


/*--Footer Rules--*/


#instructions{
    text-align: center;
}
footer {
    color: white;
    padding: 20px 0;
    text-align: center;
}